<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://mybatis.org/schema/mybatis-spring
		http://mybatis.org/schema/mybatis-spring-1.2.xsd">

	<!--
		BasicDataSource dataSource = new BasicDataSource();
		dataSource.setDriverClassname("oracle.jdbc.driver.OracleDriver");
	  -->

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" 
			value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@bybogon.czb4awyz3ywk.ap-northeast-2.rds.amazonaws.com:1521:ORCL" />
		<property name="username" value="bybogon" />
		<property name="password" value="parkbogon1!" />
		<!-- <property name="validationQuery" 
			value="${jdbc.validationQuery}" /> DB 활성화-->
	</bean>

	<bean id="log4jDataSource"
		class="net.sf.log4jdbc.Log4jdbcProxyDataSource">
		<constructor-arg ref="dataSource"></constructor-arg>
		<property name="logFormatter">
			<bean class="net.sf.log4jdbc.tools.Log4JdbcCustomFormatter">
				<property name="loggingType" value="MULTI_LINE"/>			
				<property name="sqlPrefix" value="SQL : "/>
			</bean>
		</property>	
	</bean>


	<bean id="sqlSessionFactory" 
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="log4jDataSource" />
		
		<property name="configLocation" 
			value="/WEB-INF/mybatis/mybatis-config.xml" />
		
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>
	
	<!-- 추가하면 Controller에서 MapperScan을 할 필요가 없음 -->
	<mybatis-spring:scan base-package="com.bybogon.sports.dao"/>
	<mybatis-spring:scan base-package="com.bybogon.sports.dao.impl"/>
 
</beans>
